h1{
    font-size: 5.625rem;
    font-family: 'Roboto', sans-serif;
    color: #66BFBF;
    line-height: 2;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 0px;
}
hr {
    border: dotted grey 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}
body{
    margin:0;
    text-align: center;
    text-decoration-color: #40514E;
}
.city-row{
    width: 60%;
    margin: 80px auto 80px auto;
    text-align: left;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.contact{
    width: 40%;
    margin: 40px auto 60px;
}
.contact-me{
    margin: 100px 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0;
}
a:hover{
    color: #EAF6F6;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    size:3;
    text-decoration: none;
}
.copyright{
    color: white;
}

.form-floating{
    padding: 50px;
}

.mb-3{
    padding-left: 20%;
    padding-right: 20%;
}

.predictButton{
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 25px;
    text-align: center;
}

.footer-link{
    color: white;
    font-family: 'Montserrat', sans-serif;
    size:3;
    text-decoration: none;
    margin: 10px 20px;
}

.footer-link:hover{
    color: #EAF6F6;
}
